.navbar {
    height: 55px;
    line-height: 55px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    .brand {
        font-size: 18px;
        text-decoration: none;
        color: #34495E;
    }
}

.navmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    >li {
        float: left;
        >a {
            color: #34495E;
            display: block;
            padding: 0 15px;
            text-decoration: none;
        }
        &:last-child>a {
            padding-right: 0;
        }
    }
}