$main-color: dodgerblue;
header {
    h3 {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }
    table {
        margin: 10px 0;
        td {
            font-size: 12px;
            padding: 2px 7px;
        }
        tr>td:first-child {
            text-align: right;
        }
    }
}

.sequence-column {
    text-align: right;
    margin-top: 10px;
}

.add-answer {
    font-size: 13px;
}

.btn-dark {
    border-color: $main-color;
    color: $main-color;
}

.answer-group {
    position: relative;
    .check-icon {
        position: absolute;
        display: block;
        top: 9px;
        left: 8px;
        font-size: 16px;
        cursor: pointer;
        input {
            display: none;
        }
        input+.fa {
            opacity: .4;
            &:hover {
                opacity: .6;
            }
        }
        input:checked+.fa {
            color: $main-color;
            opacity: 1;
        }
    }
    .form-control {
        padding-left: 30px;
    }
}

.title-form {
    font-size: 18px;
    margin-top: 8px;
}

.text-color {
    color: $main-color;
}

.search {
    input {
        border-color: $main-color;
    }
    button {
        border-color: $main-color;
        color: $main-color;
    }
}

.box {
    border: solid 1px $main-color;
}

.edit,
.delete {
    color: #ffffff !important;
}

.edit {
    &,
    &:hover {
        border-color: $main-color;
        background: $main-color;
    }
}

.delete {
    &,
    &:hover {
        background-color: tomato;
        border: solid 1px tomato;
    }
}

.display-form {
    float: left;
    width: 200px;
    background-color: $main-color;
}

.table {
    tr {
        th:first-child,
        td:first-child {
            text-align: center;
            width: 50px;
        }
        th:last-child,
        td:last-child {
            width: 100px;
            text-align: right;
        }
    }
    small {
        color: $main-color;
    }
}