form {
    width: 430px;
    margin: 80px auto;
    h1 {
        text-align: center;
        text-transform: uppercase;
    }
    span {
        font-weight: 300;
    }
    a {
        text-decoration: underline;
    }
}