$main-color: cornflowerblue;
.btn-dark {
    border: solid 1px $main-color;
    color: $main-color;
}

.btn-orange {
    margin-top: 8px;
}

.edit {
    &,
    &:hover {
        color: #ffffff;
        border-color: $main-color;
        background: $main-color;
    }
}

.delete {
    &,
    &:hover {
        color: #ffffff;
        background-color: tomato;
        border: solid 1px tomato;
    }
}

h3 {
    font-weight: 400;
}

.box {
    border: solid 1px $main-color;
}

.search {
    input {
        border-color: $main-color;
    }
    button {
        color: $main-color;
        border-color: $main-color;
    }
}