# dependencies
/node_modules
/bower_components
/app/*.js
/app/*.map
/app/components/*.js
/app/components/*.map
/app/directives/*.js
/app/directives/*.map
/app/factories/*.js
/app/factories/*.map
/app/services/*.js
/app/services/*.map
