<div class="navbar navbar-inverse">
	<div class="container-fluid">
		<a href="" class="navbar-brand">
			<i class="fa fa-pencil-square-o"></i> ระบบข้อสอบออนไลน์
		</a>

		<div class="personal" *ngIf="tokenLogin">
			<a href="">
				<span class="fa fa-user"></span>
				<span>{{personal.mem_email}}</span>
				<small>[ เข้าสู่ระบบตอนนี้ ]</small>
			</a>
		</div>

		<ul class="navbar-nav nav navbar-right">
			<li *ngIf="!tokenLogin && (routerPage == URL.register || routerPage == '')">
				<a [routerLink]="URL.login">
					<i class="fa fa-sign-in"></i> เข้าสู่ระบบ
				</a>
			</li>
			<li *ngIf="!tokenLogin && routerPage == URL.login">
				<a [routerLink]="URL.register">
					<i class="fa fa-user-plus"></i> ลงทะเบียน
				</a>
			</li>
			<li *ngIf="tokenLogin">
				<a (click)="onLogout()">
					<i class="fa fa-sign-out"></i> ออกจากระบบ
				</a>
			</li>
			<li *ngIf="tokenLogin">
				<a class="bars" (click)="sidebarToggle(!sidebarBars)">
					<i class="fa " [ngClass]="{'fa-chevron-right': sidebarBars,'fa-bars' : !sidebarBars}"></i>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="sidebar" *ngIf="tokenLogin" [ngClass]="{'sidebar-open': sidebarBars}">
	<ul class="sidebar-nav">
		<li>
			<a [routerLink]="URL.dashboard" routerLinkActive="active">
				<span class="fa fa-tachometer"></span>
				<span class="detail">แดชบอร์ด</span>
			</a>
		</li>
		<li>
			<a [routerLink]="[URL.examination]" routerLinkActive="active">
				<span class="fa fa-file-text-o"></span>
				<span class="detail">จัดการข้อสอบ</span>
			</a>
			<ul>
				<li>
					<a [routerLink]="[URL.examination, URL.examination_types]" routerLinkActive="active">
						<i class="fa fa-object-group"></i> รายวิชา
					</a>
				</li>
				<li>
					<a [routerLink]="[URL.examination, URL.examinations]" routerLinkActive="active">
						<i class="fa fa-files-o"></i> ข้อสอบ
					</a>
				</li>
				<li>
					<a [routerLink]="[URL.examination, URL.examination_questions]" routerLinkActive="active">
						<i class="fa fa-list-ol"></i> โจทย์ข้อสอบ
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a>
				<span class="fa fa-users"></span>
				<span class="detail">จัดการสมาชิก</span>
			</a>
			<ul>
				<li>
					<a href="">
						<i class="fa fa-user"></i> เพิ่มข้อมูลผู้สอบ
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-edit"></i> เพิ่มรายละเอียดผู้สอบ
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a>
				<span class="fa fa-edit"></span>
				<span class="detail">แก้ไขข้อมูลส่วนตัว</span>
			</a>
			<ul>
				<li>
					<a href="">
						<i class="fa fa-user"></i> แก้ไขข้อมูลของฉัน
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-paint-brush"></i> ปรับแต่งหน้าเว็บ
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">
				<span class="fa fa-cog"></span>
				<span class="detail">การตั้งค่า</span>
			</a>
			<ul>
				<li>
					<a href="">
						<i class="fa fa-cog"></i> ตั้งค่าข้อมูลอื่นๆ
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-flag"></i> ภาษาของเว็บไซต์
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="" style="color: red">
				<span class="fa fa-money"></span>
				<span class="detail">อัพเกรดบัญชี</span>
			</a>
			<ul>
				<li>
					<a href="">
						<i class="fa fa-level-up"></i> อัพเกรดบัญชีของฉัน
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-file-text-o"></i> อัพเกรดบัญชีดีอย่างไร
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>