<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<br>
			<form [formGroup]="registerForm" (submit)="onSubmit()" novalidate>
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-user-plus"></i> ลงทะเบียน
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="mem_email"><i class="fa fa-envelope"></i> อีเมล์ :</label>
							<input type="email" class="form-control" formControlName="mem_email" id="mem_email" placeholder="ป้อนอีเมล์ของคุณ" autocomplete="off">
							<validation-message [control]="registerForm.controls.mem_email"></validation-message>
						</div>

						<div class="form-group">
							<label for="mem_password"><i class="fa fa-lock"></i> รหัสผ่าน :</label>
							<input type="password" class="form-control" formControlName="mem_password" id="mem_password" placeholder="ป้อนรหัสผ่าน">
							<validation-message [control]="registerForm.controls.mem_password"></validation-message>
						</div>

						<div class="form-group">
							<label for="mem_confirm_password"><i class="fa fa-lock"></i> ยืนยันรหัสผ่าน :</label>
							<input type="password" class="form-control" formControlName="mem_confirm_password" id="mem_confirm_password" placeholder="ป้อนรหัสผ่านอีกครั้ง">
							<validation-message [control]="registerForm.controls.mem_confirm_password"></validation-message>
						</div>

						<div class="form-group button">
							<button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" [loading]="buttonLoading">
								<i class="fa fa-user-plus"></i> ลงทะเบียน
							</button>
							<span class="text-muted">
								| หรือถ้ามีบัญชีแล้ว
							</span>
							<a [routerLink]="['/', URL.login]">
								<u>เข้าสู่ระบบ</u>
							</a>
						</div>
					</div>
				</div>
			</form>
			<br>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>