<form>
    <header>
        <h1 class="header-logo">
            <span>e</span>xamination<span>o</span>nline
        </h1>
    </header>
    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="ชื่อและนามสกุล" autocomplete="off">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="email" placeholder="อีเมล์" autocomplete="off">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="รหัสผ่าน">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" id="confirm_password" placeholder="ยืนยันรหัสผ่าน">
    </div>

    <div class="form-group">
        <button class="btn">
            <i class="fa fa-user-plus"></i>
            ลงทะเบียน
        </button>
        <p class="text-center">
            <span>ถ้าคุณได้ทำการลงทะเบียนแล้ว</span>
            <a [routerLink]="['/', Url.Signin]">เข้าสู่ระบบ</a>
        </p>
    </div>
</form>