<form [formGroup]="form" (submit)="onSubmit()">
    <header>
        <h1 class="header-logo">
            <span>e</span>xamination<span>o</span>nline
        </h1>
    </header>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="ชื่อและนามสกุล" autocomplete="off">
        <validation [control]="form.controls['name']"></validation>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" formControlName="email" placeholder="อีเมล์" autocomplete="off">
        <validation [control]="form.controls['email']"></validation>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="รหัสผ่าน">
        <validation [control]="form.controls['password']"></validation>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" formControlName="confirm_password" placeholder="ยืนยันรหัสผ่าน">
        <validation [control]="form.controls['confirm_password']"></validation>
    </div>

    <div class="form-group">
        <button class="btn" type="submit" [disabled]="(form.invalid && form.touched) || disabled">
            <i class="fa fa-user-plus"></i> ลงทะเบียน
        </button>
        <p class="text-center">
            <span>ถ้าคุณได้ทำการลงทะเบียนแล้ว</span>
            <a [routerLink]="['/', Url.Signin]">เข้าสู่ระบบ</a>
        </p>
    </div>
</form>