@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=thai');

/* BEGIN Function ########################################## */

$orange-color: #ff4500;
$orange-color-hover: #f14100;
// placeholder function
@mixin placeholder($opaciry) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, $opaciry);
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, $opaciry);
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, $opaciry);
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, $opaciry);
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, $opaciry);
    }
}


/* END Function ########################################## */

html,
body {
    font-family: 'Kanit', sans-serif;
    background-color: #22313F;
    color: gainsboro;
    font-size: 14px;
}

h1 {
    font-size: 1.7em;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-danger {
    color: $orange-color;
}

.text-success {
    color: lawngreen;
}

.text-small {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 2px;
}

a {
    color: $orange-color;
    &:hover {
        color: $orange-color-hover;
        text-decoration: underline;
    }
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    label {
        margin-bottom: 2px;
        display: inline-block;
        font-weight: 300;
    }
    .ng-invalid.ng-touched {
        background-color: rgba(255, 0, 0, .15);
        color: rgba(255, 255, 255, .5);
        @include placeholder(.2);
    }
    .validation {
        display: block;
        text-align: right;
        font-size: 13px;
        margin-top: 2px;
        opacity: .85;
        .fa {
            font-size: 11px;
        }
        i.fa {
            position: absolute;
            top: 12px;
            right: 10px;
            font-size: 16px;
            opacity: .7;
        }
    }
}

.form-control,
.btn {
    border-radius: 3px;
    width: 100%;
    display: block;
    padding: 9px 15px;
}

.form-control {
    background-color: #1a2530;
    border: solid 1px #17202a;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
    border-radius: 5px;
    outline: none;
    font-weight: 300;
    @include placeholder(.35);
}

select.form-control {
    color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    &.has-value {
        color: #ffffff;
    }
    option {
        color: rgba(255, 255, 255, 0.35);
    }
}

textarea.form-control {
    min-height: 100px;
    max-width: 100%;
}

.btn {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    border: none;
    outline: none;
    background-color: $orange-color;
    color: #ffffff;
    &:hover,
    &:focus {
        background-color: $orange-color-hover;
    }
    &[disabled] {
        opacity: .6 !important;
        cursor: no-drop !important;
        background-color: $orange-color !important;
        color: rgba(255, 255, 255, .65) !important;
    }
    &.btn-dark {
        background-color: #1a2530;
        border: solid 1px rgba(255, 255, 255, .25);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
        &:hover {
            background-color: #17202a;
            color: gainsboro;
        }
    }
    &.btn-small {
        display: inline-block;
        width: auto;
        height: auto;
        padding: 5px 10px;
        line-height: 0;
    }
    &.btn-orange {
        background-color: darkorange;
        &:hover {
            background-color: #E87F00;
        }
    }
}

.search {
    margin-bottom: 20px;
    input {
        height: 29px;
        padding: 0 7px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, .6);
        border: solid 1px rgba(255, 255, 255, .25);
        box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
        color: #22313F;
    }
    button {
        transition: all 0.2s;
        border: solid 1px rgba(255, 255, 255, .25);
        background-color: #1a2530;
        height: 32px;
        width: 36px;
        border-radius: 2px;
        .fa {
            font-size: 15px;
        }
        &:hover {
            color: gainsboro !important;
        }
    }
}

.box {
    background-color: #1e2c39;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
    border: solid 1px rgba(255, 255, 255, .25);
    color: gainsboro;
    margin-bottom: 20px;
    text-align: left;
}

.table {
    width: 100%;
    th,
    td {
        padding: 10px;
        border-bottom: solid 1px rgba(255, 255, 255, .05);
    }
    th {
        font-weight: 400;
        background-color: #17202a;
    }
    td {
        font-weight: 300;
    }
}

.header-logo {
    font-size: 24px;
    text-transform: uppercase;
    span {
        font-weight: bold !important;
        font-size: 50px !important;
        &:first-child {
            color: orange;
        }
        &:last-child {
            color: lime;
        }
    }
}

.jconfirm-title {
    font-weight: 500;
    color: orange;
}