@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=thai');

/* BEGIN Function ########################################## */

$orange-color: #ff4500;
$orange-color-hover: #f14100;
// placeholder function
@mixin placeholder($opaciry) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, $opaciry);
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, $opaciry);
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, $opaciry);
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, $opaciry);
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, $opaciry);
    }
}


/* END Function ########################################## */

html,
body {
    font-family: 'Kanit', sans-serif;
    background-color: #22313F;
    color: #ffffff;
    font-size: 14px;
}

h1 {
    font-size: 1.7em;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: $orange-color;
}

.text-success {
    color: lawngreen;
}

a {
    color: $orange-color;
    &:hover {
        color: $orange-color-hover;
        text-decoration: underline;
    }
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    label {
        margin-bottom: 2px;
        display: inline-block;
        font-weight: 300;
    }
    .ng-invalid.ng-touched {
        background-color: rgba(255, 0, 0, .15);
        color: rgba(255, 255, 255, .5);
        @include placeholder(.2);
    }
    .validation {
        display: block;
        text-align: right;
        font-size: 13px;
        margin-top: 2px;
        opacity: .85;
        .fa {
            font-size: 11px;
        }
        i.fa {
            position: absolute;
            top: 12px;
            right: 10px;
            font-size: 16px;
            opacity: .7;
        }
    }
}

.form-control,
.btn {
    border-radius: 5px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: block;
    padding: 0 15px;
}

.form-control {
    background-color: #1a2530;
    border: solid 1px #17202a;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
    font-weight: 300;
    @include placeholder(.35);
}

.btn {
    font-size: 16px;
    display: inline-block;
    border: none;
    background-color: $orange-color;
    color: #ffffff;
    outline: none;
    &:hover,
    &:focus {
        background-color: $orange-color-hover;
    }
    &[disabled] {
        opacity: .6 !important;
        cursor: no-drop !important;
        background-color: $orange-color !important;
        color: rgba(255, 255, 255, .65) !important;
    }
}

.header-logo {
    font-size: 24px;
    span {
        font-weight: bold !important;
        font-size: 50px !important;
        &:first-child {
            color: orange;
        }
        &:last-child {
            color: lime;
        }
    }
}

.jconfirm-title {
    font-weight: 500;
    color: orange;
}