<section>
    <header class="text-center">
        <h1><span class="fa fa-edit"></span> ระบบข้อสอบออนไลน์</h1>
        <p class="header-title">
            | <i class="fa fa-list-ol"></i> ข้อมูลโจทย์ข้อสอบ |
        </p>
    </header>
    <br>

    <div class="panel panel-default" *ngIf="!page || page == 'list'">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-8">
                    <div class="title">
                        <span class="fa fa-list"></span> รายการข้อมูลโจทย์ข้อสอบ
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control" id="exam_id" [(ngModel)]="exam_id" (ngModelChange)="createForm()">
							<option value="0">กรุณาเลือกข้อสอบ</option>
							<option *ngFor="let item of collections.examinations" [value]="item.exam_id" [innerText]="item.exam_name"></option>
                    	</select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 100px;">ลำดับ</th>
                                <th>โจทย์ข้อสอบ</th>
                                <th>จัดการข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody #tbody>
                            <tr>
                                <td>1</td>
                                <td>ไม่มีข้อมูลรายละเอียดข้อสอบ...บันทึกเมื่อ : 2016-11-02 08:32:45, แก้ไขเมื่อ : 2016-11-02 08:32:45</td>
                                <td>
                                    <a class="btn btn-primary btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <form *ngIf="exam_id != 0" [formGroup]="form" (submit)="onSubmit()">
                        <div class="form-group subtitle">
                            <i class="fa fa-files-o"></i> ชุดข้อสอบ
                            <span class="text-warning">"{{examination.exam_name}}"</span>
                        </div>
                        <div class="alert alert-warning">
                            <p>{{examination.exam_detail|string_null:'ไม่มีข้อมูลรายละเอียดข้อสอบ...'}}</p>
                            <small>
								บันทึกเมื่อ : {{examination.exam_created}},
								แก้ไขเมื่อ : {{examination.exam_updated}}
							</small>
                        </div>

                        <div class="form-group form-inline">
                            <label for="question_number">โจทย์ข้อที่ :</label>
                            <input type="text" class="form-control" formControlName="question_number" id="question_number">
                            <validation-message [control]="form.controls['question_number']" style="display: inline;"></validation-message>
                        </div>

                        <div class="form-group">
                            <label for="question_topic">เพิ่มโจทย์ข้อสอบ :</label>
                            <a (click)="question_detail_link = true" *ngIf="!question_detail_link"><small>เพิ่มรายละเอียด</small></a>
                            <a (click)="question_detail_link = false" *ngIf="question_detail_link"><small>ซ่อนรายละเอียด</small></a>
                            <textarea id="question_topic" formControlName="question_topic" rows="3" class="form-control" placeholder="กรุณาระบุโจทย์ข้อสอบของ {{examination.exam_name}}"></textarea>
                            <validation-message [control]="form.controls['question_topic']"></validation-message>
                        </div>

                        <div class="form-group" *ngIf="question_detail_link">
                            <textarea id="question_detail" formControlName="question_detail" rows="3" class="form-control" placeholder="รายละเอียดโจทย์ข้อสอบของ {{examination.exam_name}} (ไม่กรอกก็ได้)"></textarea>
                            <validation-message [control]="form.controls['question_detail']"></validation-message>
                        </div>

                        <div class="form-group">
                            <label for="">เพิ่มคำตอบข้อสอบ</label>
                            <ul class="choicies">
                                <li *ngFor="let item of choicies; let i = index">
                                    <div class="input-group" [ngClass]="{'has-success': form.controls['answer'].value == i}">
                                        <span class="input-group-addon">{{item}}</span>
                                        <textarea class="form-control" placeholder="เพิ่มคำตอบข้อสอบ {{item}}." rows="1"></textarea>
                                        <label class="input-group-addon">
											<input type="radio" formControlName="answer" value="{{i}}"> คำตอบนี้ถูก
										</label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary">
								<i class="fa fa-save"></i>
								เพิ่มโจทย์ข้อสอบ
							</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>