<section>
	<header class="text-center">
		<h1>
			<span class="fa fa-edit"></span> ระบบข้อสอบออนไลน์
		</h1>
		<p class="header-title">
			| <i class="fa fa-files-o"></i> ข้อมูลข้อสอบ |
		</p>
	</header>
	<br>

	<div class="row">
		<!--for show type-->
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="title">
						<span class="fa fa-object-group"></span> แสดงข้อมูลรายวิชาที่เลือก
					</div>
				</div>
				<div class="panel-body">
					<label for="types_id">เลือกรายวิชา :</label>
					<select id="types_id" class="form-control" [(ngModel)]="types_id" (ngModelChange)="onTypesChange()">
                        <option value="">เลือกรายวิชาใหม่</option>
						<option *ngFor="let item of collection.types" [value]="item.types_id">{{item.types_name}}</option>
                    </select>
					<br>
					<section *ngIf="page !== 'list' && exmination_types.types_name">
						<div class="alert alert-warning">
							<header>
								<h4>รายวิชา : {{exmination_types.types_name}}</h4>
							</header>
							<div>
								<table>
									<tr>
										<td><span class="text-slim">รายละเอียดรายวิชา</span></td>
										<td> : {{exmination_types.types_detail|string_null}}</td>
									</tr>
									<tr>
										<td><span class="text-slim">วันที่บันทึก</span></td>
										<td> : {{exmination_types.types_created}}</td>
									</tr>
									<tr>
										<td><span class="text-slim">วันที่แก้ไขล่าสุด</span></td>
										<td> : {{exmination_types.types_updated}}</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="text-right">
							<a class="btn btn-primary" [routerLink]="['/', URL.examination, URL.examinations, exmination_types.types_id, URL.create]">
								<i class="fa fa-plus"></i> เพิ่มข้อสอบของวิชานี้
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>

		<!--for show exmination-->
		<div class="col-md-8" *ngIf="page == 'list' || page == 'single'">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="title">
						<span class="fa fa-files-o"></span> แสดงรายการข้อมูลข้อสอบ
						<span *ngIf="exmination_types.types_name">รายวิชา "{{exmination_types.types_name}}"</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<div class="table-responsive animation">
						<table class="table">
							<thead>
								<tr>
									<th>ชุดข้อสอบ</th>
									<th>รายละเอียด</th>
									<th>ข้อสอบ</th>
									<th>จัดการข้อมูล</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of collection.examinations">
									<td>{{item.exam_name}}</td>
									<td>{{item.exam_detail|string_null}}</td>
									<td>
										<a href="" class="btn btn-sm btn-warning" [routerLink]="['/', URL.examination, URL.examination_questions, item.exam_id]">
											<i class="fa fa-list-ol"></i> ดูรายการโจทย์ข้อสอบนี้
										</a>
									</td>
									<td>
										<a [routerLink]="['/', URL.examination, URL.examinations, types_id, URL.update, item.exam_id]" class="btn btn-primary btn-sm">
											<span class="fa fa-edit"></span>
										</a>
										<a (click)="onDelete(item)" class="btn btn-danger btn-sm">
											<span class="fa fa-trash"></span>
										</a>
									</td>
								</tr>
								<tr *ngIf="collection.examinations.length == 0">
									<td colspan="4" class="text-danger">
										ไม่มีข้อมูลข้อสอบ! กรุณาเพิ่มข้อมูลใหม่
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--for add exmination-->
		<div class="col-md-8" *ngIf="(page == 'create' || page == 'update') && exmination_types.types_name">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="title">
						<span class="fa fa-plus"></span> เพิ่มข้อสอบของรายวิชา "{{exmination_types.types_name}}"
					</div>
				</div>

				<form [formGroup]="form" (submit)="onSubmit()">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="exam_name">ชื่อข้อสอบ :</label>
									<input type="text" class="form-control" id="exam_name" formControlName="exam_name" placeholder="ชื่อข้อสอบ">
									<validation-message [control]="form.controls['exam_name']"></validation-message>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="exam_choice">
										จำนวนคำตอบ : 
									</label>
									<select id="exam_choice" formControlName="exam_choice" class="form-control">
										<option value="">เลือกจำนวนคำตอบ</option>
										<option value="2">2 คำตอบ [ก ข]</option>
										<option value="3">3 คำตอบ [ก ข ค]</option>
										<option value="4">4 คำตอบ [ก ข ค ง]</option>
									</select>
									<validation-message [control]="form.controls['exam_choice']"></validation-message>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="exam_detail">รายละเอียดข้อสอบ :</label>
							<textarea rows="5" class="form-control" id="exam_detail" formControlName="exam_detail" placeholder="รายละเอียดข้อสอบ"></textarea>
							<validation-message [control]="form.controls['exam_detail']"></validation-message>
						</div>
					</div>

					<div class="panel-footer text-right buttons">
						<button type="submit" class="btn btn-primary" [loading]="buttonLoading">
							<i class="fa fa-save"></i> บันทึกข้อมูล
						</button>
						<button type="button" class="btn btn-danger" [routerLink]="['/', URL.examination, URL.examinations, types_id]">
							<i class="fa fa-remove"></i> ยกเลิก
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>